# Ignore Gradle build output directory
build

.gradle
!build.gradle


# Ignore Gradle GUI config
gradle-app.setting


# Cache of project
.gradletasknamecache


# Compiled class file
*.class


# Log file
*.log


# BlueJ files
*.ctxt


# Mobile Tools for Java (J2ME)
.mtj.tmp/


# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle/wrapper/gradle-wrapper.jar


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


# ignore real property file. dev, prod will be changed.
application.properties

# ignore real docker compose file. dev, prod will be changed.
docker-compose.yml